@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
  @apply text-gray-900;

  font-family: Asap, sans-serif;
}

html.dark body {
  @apply text-gray-200;
  @apply bg-gray-800;
}

.star-icon {
  top: 14px;
}

blockquote {
  @apply p-4;
}

.colorway-wrapper {
  @apply flex;
  @apply bg-white;
  @apply border;
}

html.dark {
  .colorway-wrapper {
    @apply bg-gray-700;
    @apply border-gray-600;
  }
}
