li.maker_tile_item {
  @apply flex;
  @apply h-auto;
  @apply w-1/2;
  @apply md:w-1/4;
  @apply lg:w-1/5;
  @apply py-1;
  @apply px-1;
  a.tile_block {
    @apply block;
    @apply w-full;
    @apply pb-4;
    @apply border;
    @apply bg-white;
    @apply hover:text-blue-600;
    // @apply shadow-xs;
    // @apply hover:shadow-md;
  }
  div.img_holder {
    @apply w-full;
    @apply bg-white;
    @apply border-b-2;
    @apply border-gray-300;
  }
  div.text_header {
    @apply font-bold;
    @apply pt-3;
    @apply px-2;
    @apply text-center;
  }
}

html.dark {
  li.maker_tile_item {
    a.tile_block {
      @apply text-gray-200;
      @apply bg-gray-700;
      @apply border-gray-600;
    }
    div.img_holder {
      @apply border-gray-600;
    }
  }
}

li.tile_item {
  @apply flex;
  @apply h-auto;
  @apply w-1/2;
  @apply md:w-1/4;
  @apply lg:w-1/5;
  @apply py-1;
  @apply px-1;
  a.tile_block {
    @apply flex;
    @apply flex-col;
    @apply justify-between;
    @apply max-w-full;
    @apply min-w-full;
    @apply bg-white;
    @apply p-2;
    @apply bg-white;
    @apply hover:text-blue-600;
    // @apply shadow-xs;
    // @apply hover:shadow-md;
    @apply pb-4;
  }
  div.title {
    @apply text-sm;
  }
}

html.dark {
  li.tile_item {
    a.tile_block {
      @apply text-gray-200;
      @apply bg-gray-700;
    }
  }
}
