.thumbnail-wrapper {
  min-height: 160px;
  max-height: 160px;

  @media (min-width: 768px) {
    min-height: 175px;
    max-height: 175px;
  }

  @media (min-width: 1024px) {
    min-height: 168px;
    max-height: 168px;
  }

  @media (min-width: 1280px) {
    min-height: 219px;
    max-height: 219px;
  }
}

.colorway-wrapper {
  min-width: #{'max(25vw, 160px)'};
  max-width: 100vw;
}

.search__list {
  max-height: 75vh;
  z-index: 1;
}

.is-in-wishlist {
  position: relative;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  font-style: italic;
}

@keyframes modalFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  animation-name: modalFade;
  animation-duration: 0.3s;
}

@keyframes modalBackgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}

.modal-background {
  animation-name: modalBackgroundFade;
  animation-duration: 0.3s;
}
