@import 'base';
@import 'tiles';
@import 'search';
@import 'wishlist';

.thumbnail-wrapper {
  position: relative;
  height: auto;
  width: auto;
}

.thumbnail-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.thumbnail-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.colorway-wrapper {
  // min-width: #{'max(25vw, 160px)'};
  max-width: 100vw;
}

.search__list {
  max-height: 75vh;
  z-index: 1;
}

.is-in-wishlist {
  position: relative;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  font-style: italic;
}

@keyframes modalFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  animation-name: modalFade;
  animation-duration: 0.3s;
}

@keyframes modalBackgroundFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.25;
  }
}

.modal-background {
  animation-name: modalBackgroundFade;
  animation-duration: 0.3s;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
