.thumbnail-wrapper {
  min-height: 240px;
  max-height: 240px;

  @media (min-width: 768px) {
    min-height: 216px;
    max-height: 216px;
  }

  @media (min-width: 1024px) {
    min-height: 168px;
    max-height: 168px;
  }

  @media (min-width: 1280px) {
    min-height: 219px;
    max-height: 219px;
  }
}

.logo-wrapper {
  width: 100%;
  height: auto;
}

.logo-wrapper > img {
  display: block;
  width: 100%;
  height: auto;
}

.search__list {
  max-height: 75vh;
  width: 100%;
  top: calc(100% + 0.5rem);
}
