.thumbnail-wrapper {
  min-height: 160px;
  max-height: 160px;

  @media (min-width: 768px) {
    min-height: 175px;
    max-height: 175px;
  }

  @media (min-width: 1024px) {
    min-height: 168px;
    max-height: 168px;
  }

  @media (min-width: 1280px) {
    min-height: 219px;
    max-height: 219px;
  }
}

.search__list {
  max-height: 75vh;
  width: 100%;
  top: calc(100% + 0.5rem);
}

.is-in-wishlist {
  position: relative;
}
