@layer base {
  body {
    @apply bg-slate-200 text-slate-800 antialiased dark:bg-slate-900 dark:text-slate-200;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}
