@layer components {
  label.wishlist_form {
    @apply mb-2 block text-sm font-bold text-slate-700 dark:text-slate-200;
  }


  li.tile_item {
    @apply flex h-auto w-1/2 p-1 md:w-1/4 lg:w-1/5;

    & div.tile_sculpt,
    & a.tile_block {
      @apply flex w-full flex-col justify-between bg-white p-2 pb-4 hover:text-blue-600 dark:bg-slate-700 dark:text-slate-200 dark:hover:text-blue-600;
    }

    & div.title {
      @apply text-sm;
    }
  }

  .modal {
    animation-name: modalFade;
  }

  .modal-background {
    animation-name: modalBackgroundFade;
  }

  .modal,
  .modal-background {
    animation-duration: 0.3s;
  }

  .thumbnail-wrapper {
    @apply relative h-auto w-auto after:block after:pb-[100%] after:content-[''];

    & img {
      @apply absolute left-0 top-0 h-full w-full object-cover;
    }
  }

  .star-icon {
    @apply top-[14px];
  }

  .colorway-wrapper {
    @apply flex max-w-[100vw] border bg-white dark:border-slate-600 dark:bg-slate-700;
  }

  .is-in-wishlist {
    @apply relative;
  }

  blockquote {
    quotes: '\201C''\201D''\2018''\2019';
    @apply mx-2.5 my-1.5 border-l-[10px] border-slate-700 bg-slate-50 p-4;

    &::before {
      content: open-quote;
      @apply mr-1 align-[-0.4rem] text-4xl leading-[0.1rem] text-slate-800;
    }

    & p {
      @apply inline italic;
    }
  }

  input:checked ~ .dot {
    background-color: #48bb78;
    @apply translate-x-full;
  }
}
