@layer components {
  label.wishlist_form {
    @apply mb-2 block text-sm font-bold text-slate-700 dark:text-slate-200;
  }

  .modal {
    animation-name: modalFade;
  }

  .modal-background {
    animation-name: modalBackgroundFade;
  }

  .modal,
  .modal-background {
    animation-duration: 0.3s;
  }

  .star-icon {
    @apply top-[14px];
  }

  .colorway-wrapper {
    @apply flex max-w-[100vw] border bg-white dark:border-slate-600 dark:bg-slate-700;
  }

  .is-in-wishlist {
    @apply relative;
  }

  blockquote {
    quotes: '\201C''\201D''\2018''\2019';
    @apply mx-2.5 my-1.5 border-l-[10px] border-slate-700 bg-slate-50 p-4;

    &::before {
      content: open-quote;
      @apply mr-1 align-[-0.4rem] text-4xl leading-[0.1rem] text-slate-800;
    }

    & p {
      @apply inline italic;
    }
  }

  input:checked ~ .dot {
    background-color: #48bb78;
    @apply translate-x-full;
  }
}
