@layer components {
  .search__list {
    & .item-cat-title {
      @apply pt-2 pb-1 mb-1 border-b-2 border-gray-500 first:pt-0;
    }

    & .item-cat-text {
      @apply uppercase text-xs font-bold text-gray-500;
    }

    & .item-search {
      @apply py-1;
    }

    & .link {
      @apply text-sm hover:text-blue-500;
    }
  }

  label.wishlist_form {
    @apply block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2;
  }

  li.maker_tile_item {
    @apply flex h-auto w-1/2 md:w-1/4 lg:w-1/5 p-1;

    & a.tile_block {
      @apply block w-full pb-4 border bg-white hover:text-blue-600 dark:text-gray-200 dark:bg-gray-700 dark:hover:text-blue-600;
    }

    & div {
      &.img_holder {
        @apply w-full bg-white border-b-2 border-gray-300 dark:border-gray-600;
      }

      &.text_header {
        @apply font-bold pt-3 px-2 text-center;
      }
    }
  }

  li.tile_item {
    @apply flex h-auto w-1/2 md:w-1/4 lg:w-1/5 p-1;

    & div.tile_sculpt,
    & a.tile_block {
      @apply flex flex-col justify-between w-full bg-white p-2 hover:text-blue-600 pb-4 dark:text-gray-200 dark:bg-gray-700 dark:hover:text-blue-600;
    }

    & div.title {
      @apply text-sm;
    }
  }

  .modal {
    animation-name: modalFade;
  }

  .modal-background {
    animation-name: modalBackgroundFade;
  }

  .modal,
  .modal-background {
    animation-duration: 0.3s;
  }

  .thumbnail-wrapper {
    @apply relative h-auto w-auto after:content-[''] after:block after:pb-[100%];

    & img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
  }

  .star-icon {
    @apply top-[14px];
  }

  .colorway-wrapper {
    @apply flex bg-white border dark:bg-gray-700 dark:border-gray-600 max-w-[100vw];
  }

  .is-in-wishlist {
    @apply relative;
  }

  blockquote {
    quotes: '\201C''\201D''\2018''\2019';
    @apply bg-slate-50 border-l-[10px] border-slate-700 my-1.5 mx-2.5 p-4;

    &::before {
      content: open-quote;
      @apply text-slate-800 text-4xl leading-[0.1rem] mr-1 align-[-0.4rem];
    }

    & p {
      @apply inline italic;
    }
  }

  input:checked ~ .dot {
    background-color: #48bb78;
    @apply translate-x-full;
  }
}
