@layer utilities {
  input[type='search'] {
    &::-webkit-search-cancel-button {
      @apply pointer-events-none h-4 w-4 cursor-pointer appearance-none rounded-full bg-gray-300 bg-contain opacity-0;
      background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    }

    &:focus::-webkit-search-cancel-button {
      @apply pointer-events-auto opacity-60;

      @media (prefers-color-scheme: dark) {
        @apply invert;
      }
    }
  }

  @keyframes overlayShow {
    from {
      @apply opacity-0;
    }
    to {
      @apply opacity-100;
    }
  }

  @keyframes contentShow {
    from {
      @apply opacity-0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      @apply opacity-100;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes slideDownAndFade {
    from {
      @apply opacity-0;
      transform: translateY(-2px);
    }
    to {
      @apply opacity-100;
      transform: translateY(0);
    }
  }
}
