name: Website build
concurrency:
  group: ${{ github.ref }}
on:
  push:
    branches:
      - master
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_SCOPE }}
      - uses: actions/checkout@v3
        with:
          repository: keycap-archivist/website-bin
          path: bin-repo
          token: ${{ secrets.REPO_SCOPE }}
      - id: nodeversion
        run: echo ::set-output name=NODE::$(cat .nvmrc)
      - name: restore Cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Use Node.js ${{steps.nodeversion.outputs.NODE}}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.nodeversion.outputs.NODE }}
      - name: install
        run: pnpm i
      - name: lint
        run: pnpm lint
      - name: Package website
        run: pnpm package
      - name: push Website
        env:
          DISCORD_HOOK: ${{ secrets.DISCORD_HOOK }}
        run: |
          cd bin-repo
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git config --global user.name 'Keycap Archivist Bot'
          git checkout --orphan temp
          rm -rf ./*
          cp -r ../public/* ./
          git add .
          git commit -m "update-website" || true
          git branch -D master
          git branch -m master
          git push -f origin master || true
          cd ..
          node scripts/discord-update.js
